@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$rightB: #313133;
$bgColour: #141416;
$leftB: #cfcfcf;
$third: #f58f67;
$font1: #d6d6d6;


@keyframes spin {
    0% {
        transform: translate(14%, -7%) rotate(20deg);
    }
    100% {
        transform: translate(14%, -7%) rotate(380deg);
    }
}
@keyframes slide {
    0% {
        width: 0px;
        height: 0px;
    }
    25% {
        width: 170px;
        height: 0px;
        
    }
    50% {
        width: 0px;
        height: 0px;
    }
    75% {
        width: 0px;
        height: 100px;


    }
    100% {
        width: 0px;
        height: 0px;

    }
}

@keyframes whiteDown {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes slideIn {

    0% {
        left: -200%;
        opacity: 25%;
        
    }
    30% {
        left: -200%;
        opacity: 100%;
    }

    100% {
        left: 0;
        
    }
}

@keyframes imgSlide {
    0% {
        left: -100%;
        opacity: 0%;
    }
    50% {
        left: -100%;
        opacity: 0%;
        
    }

    100% {
        opacity: 100%;
        left: 0;
    }
}
@keyframes slideTop {

    0% {
        top: -150%;
    
    }

    50% {
        top: -150%;
        opacity: 25%;
    }

    70% {
        opacity: 100%;
    }

    100% {
        top: 0;
        
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}