@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$rightB: #4f4f51;
$bgColour: #2c2b30;
$leftB: #f2c4ce;
$third: #f58f67;
$font1: #d6d6d6;


@keyframes spin {
    0% {
        transform: translate(14%, -7%) rotate(20deg);
    }
    100% {
        transform: translate(14%, -7%) rotate(380deg);
    }
}
@keyframes slide {
    0% {
        width: 0px;
        height: 0px;
        border: solid 5px $leftB;
    }
    25% {
        width: 170px;
        height: 0px;
        border: solid 5px $leftB;
        
    }
    50% {
        width: 0px;
        height: 0px;
        border: solid 5px $leftB;
    }
    75% {
        width: 0px;
        height: 100px;
        border: solid 5px $leftB;

    }
    100% {
        width: 0px;
        height: 0px;
        border: solid 5px $leftB;
    }
}