@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(14%, -7%) rotate(20deg);
            transform: translate(14%, -7%) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(14%, -7%) rotate(380deg);
            transform: translate(14%, -7%) rotate(380deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(14%, -7%) rotate(20deg);
            transform: translate(14%, -7%) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(14%, -7%) rotate(380deg);
            transform: translate(14%, -7%) rotate(380deg);
  }
}

@-webkit-keyframes slide {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 170px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 0px;
  }
  75% {
    width: 0px;
    height: 100px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes slide {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 170px;
    height: 0px;
  }
  50% {
    width: 0px;
    height: 0px;
  }
  75% {
    width: 0px;
    height: 100px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

@-webkit-keyframes whiteDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes whiteDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    left: -200%;
    opacity: 25%;
  }
  30% {
    left: -200%;
    opacity: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  0% {
    left: -200%;
    opacity: 25%;
  }
  30% {
    left: -200%;
    opacity: 100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes imgSlide {
  0% {
    left: -100%;
    opacity: 0%;
  }
  50% {
    left: -100%;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    left: 0;
  }
}

@keyframes imgSlide {
  0% {
    left: -100%;
    opacity: 0%;
  }
  50% {
    left: -100%;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    left: 0;
  }
}

@-webkit-keyframes slideTop {
  0% {
    top: -150%;
  }
  50% {
    top: -150%;
    opacity: 25%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slideTop {
  0% {
    top: -150%;
  }
  50% {
    top: -150%;
    opacity: 25%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

body .whiteBg {
  width: 40%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background: #d6d6d6;
  -webkit-animation: whiteDown 1.2s ease-out;
          animation: whiteDown 1.2s ease-out;
  z-index: 2;
}

@media screen and (max-width: 925px) {
  body .whiteBg {
    width: 50%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141416;
  background-image: url("https://www.transparenttextures.com/patterns/navy.png");
  height: 100vh;
  padding-right: 300px;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 700px;
  border-radius: 15px;
  z-index: 2;
  -webkit-animation: slideIn 4s ease-in;
          animation: slideIn 4s ease-in;
}

header .inner .leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  height: 100%;
  min-width: 230px;
  max-width: 230px;
  background-color: #cfcfcf;
  background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
  margin-right: 10px;
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: slideTop 5s ease-in-out;
          animation: slideTop 5s ease-in-out;
  /*
            .socials {
                display: flex;
                position: relative;
                flex-direction: row;
                margin-top: auto;
                list-style-type: none;
                width: 100%;
                padding-top: 10px;
                border-top: solid 10px $bgColour;
                text-shadow: 0px 2px 3px rgba(0,0,0,0.65);
                z-index: 2;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 170px;
                    width: 90px;
                    border: solid 10px $third;
                    border-bottom-left-radius: 25px;
                    border-right: none;
                    border-top: none;
                    left: 0;
                    transform: translate(-25px, -90px);
                    z-index: -1;
                    top: 0;
                    right: 0;
                    
                    transform-origin: center left;
                }
                li {
                    &:nth-child(even) {
                        padding: 0 0px;
                    }
                    a {
                        color: $leftB;
                        transition: 400ms; 
                        font-size: 30px;
                        cursor: pointer;
                        z-index: 3;
                        &:hover {
                            color: $third;
                            
                        }
                    }
                }
            }
            */
}

header .inner .rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #4f4f51;
  background-color: #4f4f51;
  background-image: url("https://www.transparenttextures.com/patterns/navy.png");
  background-color: #313133;
  border-radius: 0px 15px 15px 0px;
  position: relative;
  -webkit-box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: slideIn 3s ease-in-out;
          animation: slideIn 3s ease-in-out;
}

header .inner .rightBox .image {
  position: absolute;
  border-radius: 100%;
  padding: 10px;
  width: 240px;
  height: 240px;
  background-color: #141416;
  -webkit-transform: translate(-128px, 100px);
          transform: translate(-128px, 100px);
  -webkit-animation: imgSlide 4s ease-in-out;
          animation: imgSlide 4s ease-in-out;
}

header .inner .rightBox .image::after {
  content: '';
  position: absolute;
  display: block;
  height: 280px;
  width: 140px;
  border: solid 10px #f58f67;
  border-left: none;
  border-top-right-radius: 285px;
  border-bottom-right-radius: 285px;
  top: 0;
  right: 0;
  -webkit-transform: translate(14%, -7%) rotate(20deg);
          transform: translate(14%, -7%) rotate(20deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

header .inner .rightBox .image img {
  position: relative;
  border-radius: 100%;
  -webkit-box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
}

header .inner .rightBox .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: auto;
  list-style-type: none;
  width: 300px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.65);
  z-index: 2;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

header .inner .rightBox .socials li {
  -webkit-transition: 400ms;
  transition: 400ms;
}

header .inner .rightBox .socials li:nth-child(even) {
  margin: 0 20px;
}

header .inner .rightBox .socials li a {
  color: #cfcfcf;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .inner .rightBox .socials li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .inner .rightBox .socials li:hover a {
  color: #f58f67;
}

header .inner .rightBox .rightColumn .text {
  text-align: left;
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
  color: #d6d6d6;
  position: relative;
  -webkit-animation: fadeIn 5s linear;
          animation: fadeIn 5s linear;
}

header .inner .rightBox .rightColumn .text::after {
  content: '';
  display: block;
  position: absolute;
  width: 170px;
  height: 100px;
  border: solid 10px #f58f67;
  border-right: none;
  border-bottom: none;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-25px, -95px);
          transform: translate(-25px, -95px);
  -webkit-animation: slide 7s ease-in-out infinite;
          animation: slide 7s ease-in-out infinite;
}

header .inner .rightBox .rightColumn .text h1 {
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 80px;
  text-shadow: 0px 6px 9px rgba(0, 0, 0, 0.65);
}

header .inner .rightBox .rightColumn .text h1 span {
  color: #f58f67;
  font-weight: 600;
}

header .inner .rightBox .rightColumn nav .buttons {
  display: inline-block;
  list-style: none;
  -webkit-transform: translate(170px, 50px);
          transform: translate(170px, 50px);
}

header .inner .rightBox .rightColumn nav .buttons li {
  -webkit-box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
  width: 170px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  transition: 500ms;
}

header .inner .rightBox .rightColumn nav .buttons li:nth-child(2) {
  margin: 50px 0;
}

header .inner .rightBox .rightColumn nav .buttons li a {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #cfcfcf;
  text-decoration: none;
  color: #313133;
  text-align: center;
  font-size: 27px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.65);
}

header .inner .rightBox .rightColumn nav .buttons li:hover {
  width: 270px;
}

header .inner .rightBox .rightColumn nav .buttons li:hover a {
  background-color: #f58f67;
  color: #313133;
  -webkit-box-shadow: inset 170px 0 0 0 #cfcfcf;
          box-shadow: inset 170px 0 0 0 #cfcfcf;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (max-width: 1220px) {
  header .inner {
    width: 500px;
    height: 580px;
  }
  header .inner .leftBox {
    min-width: 150px;
    max-width: 150px;
    margin-right: 7px;
  }
  header .inner .rightBox .image {
    height: 160px;
    width: 160px;
    padding: 7px;
    -webkit-transform: translate(-90px, 100px);
            transform: translate(-90px, 100px);
  }
  header .inner .rightBox .image::after {
    height: 190px;
    width: 95px;
    border: solid 7px #f58f67;
    border-left: none;
  }
  header .inner .rightBox .socials li a {
    font-size: 25px;
  }
  header .inner .rightBox .rightColumn .text {
    -webkit-transform: translate(203px, 40px);
            transform: translate(203px, 40px);
  }
  header .inner .rightBox .rightColumn .text::after {
    width: 110px;
    height: 20px;
    -webkit-transform: translate(-19px, -70px);
            transform: translate(-19px, -70px);
    border: solid 3px #f58f67;
    -webkit-animation: slide2 7s ease-in-out infinite;
            animation: slide2 7s ease-in-out infinite;
  }
  @-webkit-keyframes slide2 {
    0% {
      width: 0px;
      height: 0px;
    }
    25% {
      width: 130px;
      height: 0px;
    }
    50% {
      width: 0px;
      height: 0px;
    }
    75% {
      width: 0px;
      height: 75px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
  @keyframes slide2 {
    0% {
      width: 0px;
      height: 0px;
    }
    25% {
      width: 130px;
      height: 0px;
    }
    50% {
      width: 0px;
      height: 0px;
    }
    75% {
      width: 0px;
      height: 75px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
  header .inner .rightBox .rightColumn .text h1 {
    font-size: 60px;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.75);
  }
  header .inner .rightBox .rightColumn nav .buttons li {
    width: 130px;
    height: 32px;
  }
  header .inner .rightBox .rightColumn nav .buttons li a {
    font-size: 22px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
  }
  header .inner .rightBox .rightColumn nav .buttons li:hover {
    width: 220px;
  }
  header .inner .rightBox .rightColumn nav .buttons li:hover a {
    background-color: #f58f67;
    color: #313133;
    -webkit-box-shadow: inset 137px 0 0 0 #cfcfcf;
            box-shadow: inset 137px 0 0 0 #cfcfcf;
  }
}

@media screen and (max-width: 925px) {
  header {
    padding-left: 15px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header .inner .rightBox {
    width: 60%;
  }
  header .inner .rightBox .rightColumn .text {
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  header .inner .rightBox .rightColumn nav .buttons {
    -webkit-transform: translate(-30px, 50px);
            transform: translate(-30px, 50px);
  }
}
/*# sourceMappingURL=index.css.map */