@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(14%, -7%) rotate(20deg);
            transform: translate(14%, -7%) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(14%, -7%) rotate(380deg);
            transform: translate(14%, -7%) rotate(380deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(14%, -7%) rotate(20deg);
            transform: translate(14%, -7%) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(14%, -7%) rotate(380deg);
            transform: translate(14%, -7%) rotate(380deg);
  }
}

@-webkit-keyframes slide {
  0% {
    width: 0px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
  25% {
    width: 170px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
  50% {
    width: 0px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
  75% {
    width: 0px;
    height: 100px;
    border: solid 5px #f2c4ce;
  }
  100% {
    width: 0px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
}

@keyframes slide {
  0% {
    width: 0px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
  25% {
    width: 170px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
  50% {
    width: 0px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
  75% {
    width: 0px;
    height: 100px;
    border: solid 5px #f2c4ce;
  }
  100% {
    width: 0px;
    height: 0px;
    border: solid 5px #f2c4ce;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: red;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2b30;
  background-image: url(/images/tactile_noise.png);
  height: 100vh;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 700px;
  border-radius: 15px;
}

header .inner .leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  height: 100%;
  min-width: 230px;
  max-width: 230px;
  background-color: #f2c4ce;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  margin-right: 10px;
  border-radius: 15px 0 0 15px;
}

header .inner .leftBox .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: auto;
  list-style-type: none;
  width: 100%;
  padding-top: 10px;
  border-top: solid 10px #2c2b30;
  z-index: 2;
}

header .inner .leftBox .socials::after {
  content: '';
  position: absolute;
  display: block;
  height: 170px;
  width: 90px;
  border: solid 10px #f58f67;
  border-bottom-left-radius: 25px;
  border-right: none;
  border-top: none;
  left: 0;
  -webkit-transform: translate(-25px, -90px);
          transform: translate(-25px, -90px);
  z-index: -1;
  top: 0;
  right: 0;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

header .inner .leftBox .socials li:nth-child(even) {
  padding: 0 10px;
}

header .inner .leftBox .socials li a {
  color: #4f4f51;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
}

header .inner .leftBox .socials li a:hover {
  color: #f58f67;
}

header .inner .rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #4f4f51;
  background-color: #4f4f51;
  background-image: url("https://www.transparenttextures.com/patterns/stressed-linen.png");
  background-color: #4f4f51;
  border-radius: 0px 15px 15px 0px;
}

header .inner .rightBox .image {
  position: relative;
  border-radius: 100%;
  padding: 10px;
  width: 240px;
  height: 240px;
  background-color: #2c2b30;
  -webkit-transform: translate(-128px, 100px);
          transform: translate(-128px, 100px);
}

header .inner .rightBox .image::after {
  content: '';
  position: absolute;
  display: block;
  height: 280px;
  width: 140px;
  border: solid 10px #f58f67;
  border-left: none;
  border-top-right-radius: 285px;
  border-bottom-right-radius: 285px;
  top: 0;
  right: 0;
  -webkit-transform: translate(14%, -7%) rotate(20deg);
          transform: translate(14%, -7%) rotate(20deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

header .inner .rightBox .image img {
  position: relative;
  border-radius: 100%;
  width: 100%;
}

header .inner .rightBox .rightColumn .text {
  text-align: left;
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
  color: #d6d6d6;
  position: relative;
}

header .inner .rightBox .rightColumn .text::after {
  content: '';
  display: block;
  position: absolute;
  width: 170px;
  height: 100px;
  border: solid 10px #f2c4ce;
  border-right: none;
  border-bottom: none;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-30px, -100px);
          transform: translate(-30px, -100px);
  -webkit-animation: slide 7s ease-in-out infinite;
          animation: slide 7s ease-in-out infinite;
}

header .inner .rightBox .rightColumn .text h1 {
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 80px;
}

header .inner .rightBox .rightColumn .text h1 span {
  color: #f58f67;
  font-weight: 600;
}

header .inner .rightBox .rightColumn nav .buttons {
  display: inline-block;
  list-style: none;
  -webkit-transform: translate(170px, 50px);
          transform: translate(170px, 50px);
}

header .inner .rightBox .rightColumn nav .buttons li {
  -webkit-box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 16px 0px rgba(0, 0, 0, 0.75);
  width: 170px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
}

header .inner .rightBox .rightColumn nav .buttons li:nth-child(2) {
  margin: 50px 0;
}

header .inner .rightBox .rightColumn nav .buttons li a {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #4f4f51;
  text-decoration: none;
  color: #d6d6d6;
  text-align: center;
  font-size: 27px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

header .inner .rightBox .rightColumn nav .buttons li:hover {
  width: 270px;
}

header .inner .rightBox .rightColumn nav .buttons li:hover a {
  background-color: #f58f67;
  color: #4f4f51;
  -webkit-box-shadow: inset 170px 0 0 0 #f2c4ce;
          box-shadow: inset 170px 0 0 0 #f2c4ce;
}
/*# sourceMappingURL=index.css.map */