

header {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: $bgColour;
    background-image: url(/images/tactile_noise.png);
    height: 100vh;

    .inner {
        display: flex;
        width: 800px;
        height: 700px;
        border-radius: 15px;
        .leftBox {
            display: flex;
            justify-content: left;
            position: relative;
            height: 100%;
            min-width: 230px;
            max-width: 230px;
            background-color: $leftB;
            background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
            margin-right: 10px;
            border-radius: 15px 0 0 15px;
            .socials {
                display: flex;
                position: relative;
                flex-direction: row;
                margin-top: auto;
                list-style-type: none;
                width: 100%;
                padding-top: 10px;
                border-top: solid 10px $bgColour;
                z-index: 2;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 170px;
                    width: 90px;
                    border: solid 10px $third;
                    border-bottom-left-radius: 25px;
                    border-right: none;
                    border-top: none;
                    left: 0;
                    transform: translate(-25px, -90px);
                    z-index: -1;
                    top: 0;
                    right: 0;
                    
                    transform-origin: center left;
                }
                li {
                    &:nth-child(even) {
                        padding: 0 10px;
                    }
                    a {
                        color: $rightB;
                        transition: 400ms; 
                        font-size: 30px;
                        cursor: pointer;
                        z-index: 3;
                        &:hover {
                            color: $third;
                            
                        }
                    }
                }
            }
        }
        .rightBox {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;background-color: #4f4f51;
            background-color: #4f4f51;
            background-image: url("https://www.transparenttextures.com/patterns/stressed-linen.png");
            background-color: $rightB;
            border-radius: 0px 15px 15px 0px;
            .image {
                position: relative;
                border-radius: 100%;
                padding: 10px;
                width: 240px;
                height: 240px;
                background-color: $bgColour;
                transform: translate(-128px, 100px);
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 280px;
                    width: 140px;
                    border: solid 10px $third;
                    border-left: none;
                    border-top-right-radius: 285px;
                    border-bottom-right-radius: 285px;
                    top: 0;
                    right: 0;
                    transform: translate(14%, -7%) rotate(20deg);
                    transform-origin: center left;
                    animation: spin 6s linear infinite;

                    

                    
                }
                img {
                    position: relative;
                    border-radius: 100%;
                    width: 100%;
                    
    
                }

            } 
            .rightColumn {
                
                .text {
                    text-align: left;
                    transform: translate(250px, 0);
                    color: $font1;
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 170px;
                        height: 100px;
                        border: solid 10px $leftB;
                        border-top-left-radius: 25px;
                        border-right: none;
                        border-bottom: none;
                        bottom: 0;
                        left: 0;
                        transform: translate(-30px, -100px);
                        animation: slide 2s linear infinite;
                        
                        
                    }
                    h1 {
                        font-weight: 400;
                        letter-spacing: 10px;
                        font-size: 80px;
                        span {
                            color: $third;
                            font-weight: 600;

                        }
                    }

                }
                nav {
                    .buttons {
                        display: inline-block;
                        list-style: none;
                        transform: translate(170px, 50px);
                        li {
                            box-shadow: 6px 11px 16px 0px rgba(0,0,0,0.75);
                            width: 170px;
                            border-radius: 0 15px 15px 0;
                            overflow: hidden;
                            transition: 500ms;
                            &:nth-child(2){
                                margin: 50px 0;
                            }
                            a {
                                display: block;
                                width: 100%;
                                height: 40px;
                                background-color: $rightB;
                                text-decoration: none;
                                
                                color: $font1;
                                text-align: center;
                                font-size: 27px;
                                transition: 400ms;
                                
                                
                            }
                            
                            &:hover {
                                width: 270px;
                                a {
                                    background-color: $third;
                                    color: $rightB;
                                    box-shadow: inset 170px 0 0 0 $leftB;
                                    
                                }
                            }
                            
                        }
                    }
                }
            }    
        }
    }
}